In [89]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [74]:
df = pd.read_csv("Biotech_preprocessed_dataset_with_outliers.csv")

In [75]:
df['Time']=pd.to_datetime(df['Time'])

In [76]:
df

,Time,TOD,Hour,Day,Total (W),Phase_A (W),Phase_B (W),Phase_C (W),Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,Holiday
0,2024-01-04 15:00:00,15:00:00,15,Thursday,821.0,207.0,467.0,147.0,False,False,False,False,True,False,False,False
1,2024-01-04 16:00:00,16:00:00,16,Thursday,741.0,298.0,329.0,114.0,False,False,False,False,True,False,False,False
2,2024-01-04 17:00:00,17:00:00,17,Thursday,776.0,363.0,278.0,135.0,False,False,False,False,True,False,False,False
3,2024-01-04 18:00:00,18:00:00,18,Thursday,1260.0,659.0,419.0,182.0,False,False,False,False,True,False,False,False
4,2024-01-04 19:00:00,19:00:00,19,Thursday,973.0,381.0,410.0,182.0,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4454,2024-07-08 05:00:00,05:00:00,5,Monday,1040.0,635.0,259.0,146.0,False,True,False,False,False,False,False,False
4455,2024-07-08 06:00:00,06:00:00,6,Monday,1414.0,1023.0,251.0,140.0,False,True,False,False,False,False,False,False
4456,2024-07-08 07:00:00,07:00:00,7,Monday,571.0,225.0,243.0,103.0,False,True,False,False,False,False,False,False
4457,2024-07-08 08:00:00,08:00:00,8,Monday,784.0,411.0,280.0,93.0,False,True,False,False,False,False,False,False
4458,2024-07-08 09:00:00,09:00:00,9,Monday,1824.0,1477.0,256.0,91.0,False,True,False,False,False,False,False,False

In [77]:
df_hours = pd.DataFrame(columns = [str(i) for i in range(24)])
df_hours

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]
Index: []

[0 rows x 24 columns]

In [87]:
df_23 = df[df['Hour']==23]
df_23

,Time,TOD,Hour,Day,Total (W),Phase_A (W),Phase_B (W),Phase_C (W),Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,Holiday
8,2024-01-04 23:00:00,23:00:00,23,Thursday,959.0,463.0,311.0,185.0,False,False,False,False,True,False,False,False
32,2024-01-05 23:00:00,23:00:00,23,Friday,826.0,318.0,322.0,186.0,True,False,False,False,False,False,False,False
56,2024-01-06 23:00:00,23:00:00,23,Saturday,826.0,349.0,291.0,186.0,False,False,True,False,False,False,False,True
80,2024-01-07 23:00:00,23:00:00,23,Sunday,1052.0,504.0,365.0,183.0,False,False,False,True,False,False,False,False
104,2024-01-08 23:00:00,23:00:00,23,Monday,795.0,78.0,529.0,188.0,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4328,2024-07-02 23:00:00,23:00:00,23,Tuesday,1355.0,955.0,216.0,184.0,False,False,False,False,False,True,False,False
4352,2024-07-03 23:00:00,23:00:00,23,Wednesday,1019.0,551.0,282.0,186.0,False,False,False,False,False,False,True,False
4376,2024-07-04 23:00:00,23:00:00,23,Thursday,1470.0,893.0,390.0,187.0,False,False,False,False,True,False,False,False
4400,2024-07-05 23:00:00,23:00:00,23,Friday,923.0,374.0,403.0,146.0,True,False,False,False,False,False,False,False
4424,2024-07-06 23:00:00,23:00:00,23,Saturday,1441.0,985.0,311.0,145.0,False,False,True,False,False,False,False,True

In [88]:
last_date = pd.to_datetime('2024-07-07 15:00:00')
df = df[df['Time']<last_date]
for i in range(24):
    df_hours[str(i)] = df[df['Hour']==i]['Total (W)'].values

df_hours

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,834.0,694.0,1561.0,990.0,2081.0,818.0,739.0,839.0,614.0,739.0,...,2280.0,821.0,741.0,776.0,1260.0,973.0,929.0,1812.0,715.0,959.0
1,732.0,1226.0,593.0,1148.0,655.0,667.0,826.0,843.0,568.0,631.0,...,611.0,1853.0,607.0,621.0,873.0,1044.0,647.0,759.0,949.0,826.0
2,914.0,672.0,1139.0,916.0,626.0,812.0,573.0,1128.0,448.0,455.0,...,2619.0,1009.0,785.0,1144.0,921.0,849.0,1336.0,969.0,651.0,826.0
3,1006.0,924.0,835.0,1006.0,941.0,732.0,1001.0,607.0,930.0,595.0,...,756.0,2701.0,893.0,651.0,565.0,762.0,520.0,752.0,663.0,1052.0
4,615.0,786.0,821.0,1162.0,834.0,758.0,917.0,618.0,764.0,686.0,...,1195.0,1716.0,535.0,1148.0,705.0,661.0,687.0,956.0,672.0,795.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,2109.0,1468.0,734.0,940.0,1460.0,1427.0,1044.0,971.0,957.0,1314.0,...,3263.0,2474.0,2308.0,1364.0,968.0,973.0,1359.0,956.0,1299.0,1355.0
181,1368.0,1412.0,1123.0,1142.0,1434.0,1120.0,669.0,708.0,852.0,3060.0,...,4931.0,2427.0,1148.0,1604.0,1124.0,1372.0,1611.0,1258.0,843.0,1019.0
182,1582.0,957.0,889.0,1396.0,1278.0,759.0,980.0,911.0,1391.0,1490.0,...,1031.0,4165.0,1393.0,1396.0,1272.0,1282.0,1495.0,1016.0,998.0,1470.0
183,1609.0,1507.0,911.0,1014.0,1647.0,862.0,1179.0,1426.0,1558.0,1133.0,...,891.0,1759.0,1526.0,1283.0,1385.0,1175.0,1090.0,1619.0,1568.0,923.0
184,881.0,867.0,946.0,855.0,912.0,998.0,900.0,816.0,1316.0,786.0,...,1648.0,980.0,1605.0,907.0,770.0,1667.0,1628.0,1013.0,1612.0,1441.0

In [93]:
df_hours.to_csv('Hourly_dataset.csv')